
.review {
  display: flex;
  position: relative;

  justify-content: space-evenly;
  align-items: flex-start;

  flex-flow: column;

  padding: 2.5%;

  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.review-header {
  display: flex;
  position: relative;

  flex-flow: column;
  padding: 0 2.5%;

  width: 100%;
}

.review-subtitle {
  color: grey;
  display: flex;

  flex-flow: row;

  justify-content: space-between;
}

.rating {
  color: black;
  text-decoration: underline;
}

.review-body {
  max-width: 500px;
  word-wrap: normal;
  font-size: small;
  font-weight: 300;

  padding: 5% 0;
}
