.body{
  position: relative;
  display: flex;

  width: 99vw;
  height: fit-content;

  justify-content: center;
}

.content{
  width: 50%;
  margin-right: 2em;
}

.title{
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.subtitle{
  font-size: 1.2em;
  font-weight: 700;
  color: var(--primary);
  text-decoration: underline;
}
